In [85]:
import pandas as pd
from pandas.io import sql
import pymysql

In [86]:
def mysql_connect():    # Mysql connection function

    global connection

    # Mysql crdentials to connect the database
    connection = pymysql.connect(                  
        host="fe-mean.cp4lje53dvkz.ap-south-1.rds.amazonaws.com",
        user='prajwal.waykos',
        password='M0ns00n!',
        db='dev',
    )

def run_query(sql):

    # sql: MySQL query
    # pd: Pandas dataframe containing results
    return pd.read_sql_query(sql, connection)
def mysql_disconnect():
    connection.close()

In [87]:
mysql_connect()

# query = input("Enter_query: ")
with open('Flexiele\Report 4.2.sql', 'r') as f:
    query = f.read()
df = run_query(query)
print(df)
print(df.shape)

     Employee Code               Full Name  Tax Regime Financial Year  \
0          FET_101            Yash Chouhan        None           None
1          FET_105           Amitabh Yadav  Old regime        2022-23
2          FET_105           Amitabh Yadav  Old regime        2021-22
3             None                    None        None           None
4             None            Shivam Gupta        None           None
...            ...                     ...         ...            ...
2405    EMP2031_ML       Nikhil Test Kumar        None           None
2406    EMP2032_ML  Prajwal Pravin  Waykos        None           None
2407    EMP2004_FL                  Violet        None           None
2408    EMP2033_ML          Prithvi Pandey        None           None
2409       EMP2000                    test        None           None

     City Type From Month To Month Owner Owner PAN Address  Declared amount  \
0         None       None     None  None      None    None              NaN
1         None       None     None  None      None    None              NaN
2         None       None     None  None      None    None              NaN
3         None       None     None  None      None    None              NaN
4         None       None     None  None      None    None              NaN
...        ...        ...      ...   ...       ...     ...              ...
2405      None       None     None  None      None    None              NaN
2406      None       None     None  None      None    None              NaN
2407      None       None     None  None      None    None              NaN
2408      None       None     None  None      None    None              NaN
2409      None       None     None  None      None    None              NaN

      Actual Amount  Approved amount Rejection Comments
0               NaN              NaN               None
1               NaN              NaN               None
2               NaN              NaN               None
3               NaN              NaN               None
4               NaN              NaN               None
...             ...              ...                ...
2405            NaN              NaN               None
2406            NaN              NaN               None
2407            NaN              NaN               None
2408            NaN              NaN               None
2409            NaN              NaN               None

[2410 rows x 14 columns]
(2410, 14)

In [88]:
df['Owner']

0       None
1       None
2       None
3       None
4       None
        ...
2405    None
2406    None
2407    None
2408    None
2409    None
Name: Owner, Length: 2410, dtype: object